*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.progress{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
.loginBtn{
    background-color: #08bd80;
    border: none;
    color: white;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    font-family: sans-serif;
    cursor: pointer;
}
.navbar{
    display: flex;
    width: 80%;
    margin: auto;
    padding:20px 10px 20px 10px;
    justify-content: space-between;
}
.closeBtn{
    background-color: none;
    color: rgb(103, 102, 102);
    font-size: 40px;
    padding-left: 30px;
    padding-top: 20px;
    font-weight: 10;
}
.loginBox{
    /* border: 1px solid black; */
    width: 80%;
    margin-left: 40px;
    padding-top: 30px;
    margin-top: 30px;
    line-height: 40px;
}
.loginBox p{
    font-size: 12px;
}
.createAccount{
    color: #08bd80;
    font-weight: 600;
    border-bottom-style: dotted;
}
.inputBox{
    border: 1px solid rgb(194, 191, 191);
    width: 95%;
    display: flex;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 6px;
}
.selectBox{
    display: flex;
}
.countrySelect{
    border: none;
    padding-left: 10px;
}
.inputBox2{
    border: none;
    height: 100%;
    width: 400px;
}
.loginInfo{
    margin-top: 40px;
    display: flex;
    column-gap: 20%;
}
.loginInfo h5{
    border-bottom-style: dotted;
    line-height: 20px;
    margin-top: 20px;
    cursor: pointer;
}