/* Package chooser css */

.SubscriptionNav{
    width: 80%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
}

.subsHead{
        /* text-align: center; */
    grid-column: span 24;
    padding-bottom: 20px;
}
.subsH5{
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #3C4852;
    margin: 0px;
}
.subsP{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
    color: #7A8B94;
    font-weight: normal;
    
}
.SubsH3{
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    color: #3C4852;
    margin: 0px;
    text-transform: uppercase;
    text-align: left;
}
.SubsCardContianer{
    width: 75%;
    margin: auto;
    
}
.PlusSubscription{
    grid-column: 3/11;
    background-color: #FFFFFF;
    border: 1px solid #E9EEF2;;
    border-radius: 8px 0 0 8px;
    width: 25%;
    margin-top: 18px;
    height: 446px;
    box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
    padding: 6% 5% 6% 6%;
    position: relative;
    margin-right: -1px;
}

.subscriptionCardHeader{
    display: flex;
     
}
.packP{
 font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
    color: #7A8B94;
    font-weight: normal;
    text-align: left;
}
.packSelectBtn{
    align-items: center;
  cursor: pointer;
  border-radius: 6px;
  min-height: 48px;
  width:fit-content;
  height: 60px;
  margin: auto;
  margin-bottom: 1em;
  display: inline-block;
}
.plusbenifitList{
    margin-left: 1em;
    margin-right: 0;
    padding: 0;
    list-style-image: url('https://static.uacdn.net/production/_next/static/images/greenTick.png?q=75&w=48');
}